/* CSS Document */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #838383;
}

img {
  max-width: 100%;
}

h1 {
  background: #818181;
  color: #111;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  padding: 5px 10px;
  margin: 0;
  border-top: 2px solid #111;
  border-bottom: 2px solid #111;
  /* headers blijven plakken bovenaan */
  position: sticky;
  top: 0;
}

a {
  background: #818181;
  color: #111;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  padding: 5px 10px;
  margin: 0;
  border-top: 2px solid #111;
  border-bottom: 2px solid #111;
}

/* Main columns grid layout */

main {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  background: black;
  grid-gap: 2px;
  padding: 2px;
  padding-top: 0;
}

div.column {
  background: #818181;
}

main img.preview {
  width: 100%;
  height: auto;
  border-bottom: 2px solid black;
}

main img.preview:last-child {
  border-bottom: none;
}

/* 2 kolommen */
/* @media screen and (min-width: 501px) {
  main {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
  div.column {
    height: 100vh;
    overflow: auto;
  }
} */

/* 4 kolommen */
@media screen and (min-width: 601px) {
  body {
    /* body mag niet scrollen */
    height: 100vh;
    overflow: hidden;
  }

  main {
    /* layout met 4 kolommen */
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
  div.column {
    /* elke kolom individueel scrolt */
    height: 100vh;
    overflow: auto;
    padding-top: 42px;
  }

  div.column h1 {
    position: fixed;
    width: calc(25vw - 2.5px);
    top: 0;
  }
}

footer {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  background: black;
  grid-gap: 2px;
  padding: 2px;
  padding-top: 0;
}

footer img.preview {
  width: 100%;
  height: auto;
  border-bottom: 2px solid black;
}

footer img.preview:last-child {
  border-bottom: none;
}
